MQTT_BROKER=10.0.0.2
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=

MQTT_TOPIC_VOC=electronic-nose/sensor/voc_index/state
MQTT_TOPIC_NOX=electronic-nose/sensor/nox_index/state
MQTT_TOPIC_MQ135_VOLTAGE=electronic-nose/sensor/mq135_voltage/state
MQTT_TOPIC_MQ3_VOLTAGE=electronic-nose/sensor/mq3_voltage/state
MQTT_TOPIC_SHT40_TEMPERATURE=electronic-nose/sensor/sht40_temperature/state
MQTT_TOPIC_SHT40_HUMIDITY=electronic-nose/sensor/sht40_humidity/state
MQTT_TOPIC_BME688_TEMPERATURE=electronic-nose/sensor/bme688_temperature/state
MQTT_TOPIC_BME688_HUMIDITY=electronic-nose/sensor/bme688_humidity/state
MQTT_TOPIC_BME688_PRESSURE=electronic-nose/sensor/bme688_pressure/state
MQTT_TOPIC_BME688_GAS_RESISTANCE=electronic-nose/sensor/bme688_gas_resistance/state
MQTT_TOPIC_BME688_IAQ=electronic-nose/sensor/bme688_iaq/state
MQTT_TOPIC_BME688_CO2_EQUIVALENT=electronic-nose/sensor/bme688_co2_equivalent/state
MQTT_TOPIC_BME688_BREATH_VOC_EQUIVALENT=electronic-nose/sensor/bme688_breath_voc_equivalent/state
MQTT_TOPIC_SCD40_CO2=electronic-nose/sensor/scd40_co2/state
MQTT_TOPIC_SCD40_TEMPERATURE=electronic-nose/sensor/scd40_temperature/state
MQTT_TOPIC_SCD40_HUMIDITY=electronic-nose/sensor/scd40_humidity/state
